@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url("top.jpeg");
    height: 70vh;
    position: relative;
    background-size: max(100vw,1200px);
    background-position: center center;
    background-repeat: no-repeat;
}
.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
    display: flex;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between ;
    height: 62px;
}
nav img{
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 10;
    gap: 23px;
    padding: 0 30px;
    font-family: 'Martel Sans', sans-serif;
}
.hero> :first-child{
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight: 400px;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400px;
    font-size: 20px;
    text-align: center;
}
.separation {
    height: 7px;
    background-color: rgb(45, 44, 44); 
}
.btn{
    background-color:  rgba(23, 23, 23, 0.4) ;;
    padding: 3px 8px;
    color: white;
    cursor: pointer;
}
.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}
.btn-red-sm
{
    background-color: red;
    color: white;
}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 16px;
}
.main input
{
    background-color: rgba(23, 23, 23, 0.7);
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    border: rgba(23, 23, 23, 0.4) ;
}
.first{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 70vw;
    color: white;
    align-items: center;

}
.secImg{
    position: relative;
}
.secImg img{
    width: 30vw;
    position: relative;
    z-index: 10;
}
.secImg video{
    position: absolute;
    top: 51px; 
    right: 0;
    width: 400px;
}
section.first > div{
    display: flex;
    flex-direction: column;
}
.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
.first > div :nth-child(2)
{
    font-size: 24px;
}